streamlit
chromadb
pypdf
groq
sentence-transformers
langchain-text-splitters
langchain-experimental
langchain-huggingface
python-dotenv

streamlit==1.33.0
chromadb==0.4.24
pydantic==1.10.13
numpy==1.26.4
protobuf==3.20.3
groq==0.9.0
tiktoken==0.5.2